[submodule "embedded_software/arduino/HackerBoatLib"]
	path = embedded_software/arduino/HackerBoatLib
	url = https://github.com/logos-electromechanical/HackerBoatLib.git
[submodule "embedded_software/beaglebone/submodules/jansson"]
	path = embedded_software/beaglebone/submodules/jansson
	url = https://github.com/akheron/jansson
[submodule "embedded_software/beaglebone/submodules/BlackLib"]
	path = embedded_software/beaglebone/submodules/BlackLib
	url = https://github.com/logos-electromechanical/BlackLib.git
[submodule "embedded_software/beaglebone/submodules/smhasher"]
	path = embedded_software/beaglebone/submodules/smhasher
	url = git@github.com:aappleby/smhasher.git
