# Object files
*.o
*.ko
*.obj
*.elf
*.d

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
gpsParse
hb.fcgi
nav
embedded_software/unified/master
embedded_software/unified/unit_tests
embedded_software/unified/rc_test
embedded_software/unified/orientation_test
embedded_software/unified/adc_test
embedded_software/unified/relay_test
embedded_software/unified/throttle_test
embedded_software/unified/servo_test
embedded_software/unified/rcctrl
embedded_software/unified/gps_test
embedded_software/unified/aio_rest_test
embedded_software/unified/rudder_test
embedded_software/unified/watchdog
BUILD

# Eagle
*.s#*
*.b#*
*.l#
*.scr

# Excel files
~$*

# FreeCad files
*.dxf
*.FCStd1
*.tmp

# Temporary files
*~
*.orig
*.rej
*.log
*.trs
