# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Eagle
*.s#*
*.b#*
*.l#*

# Excel files
~$*

# FreeCad files
*.dxf
*.FCStd1
*.tmp

# Temporary files
*~
*.orig
*.rej
